.boton {
text-align: center;
}

button {
background-color: #335BFF;
padding: 10px;
font-weight: 90;
font-size: 18px;   
border-radius: 6px;
border: 2px solid #0016b0;
}

.container {
    border: black 1px solid;
    margin: 30px;
}
body {
    font-family: Arial;
    font-weight: none;
}

.boton1 {
    text-align: center;
    top: 20px; 
    left: 50px;
    right: 50px;
}

.encabezado {
    display: block;
    background-color: #E1C7BE;
    margin-top: -19px;
   }

   .derecha {
    float: right;
    padding-right: 391px;
    margin-top: -145px;
    margin-right: -200px;  
   }

   .columna {
    float: right;
    padding-right: -20px;
    padding-top: 32px;
    width: 0%;
   }

   div {
    font-family: calibri;
   }